@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 0.5s ease-in-out;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

.wrraper_gallery {
  height: 97vh;
  display: grid;
  place-content: center;

}

h1 {
  height: 100px;
  font-size: 48px;
  font-weight: 500;

}

.gallery_1,
.gallery_3,
.gallery_5 {
  
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

/* gallery_3  grid-area */

.item-1 {
  grid-area: 1 / 1 / 2 / 3;
}

.item-2 {
  grid-area: 1 / 3 / 2 / 4;
}

.item-3 {
  grid-area: 1 / 4 / 2 / 5;
}

.item-4 {
  grid-area: 2 / 1 / 3 / 2;
}

.item-5 {
  grid-area: 2 / 2 / 4 / 3;
}

.item-6 {
  grid-area: 2 / 3 / 3 / 5;
}

.item-7 {
  grid-area: 3 / 1 / 4 / 2;
}

.item-8 {
  grid-area: 3 / 3 / 4 / 4;
}

.item-9 {
  grid-area: 3 / 4 / 4 / 5;
}


/* gallery_5  grid-area */

.img-1 {
  grid-area: 1 / 1 / 2/ 2;
}

.img-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.img-3 {
  grid-area: 1 / 4 / 2 / 5;
}

.img-4 {
  grid-area: 2 / 2 / 3 / 3;
}

.img-5 {
  grid-area: 2 / 3 / 3 / 4;
}

/* gallery_6  grid area */

.gallery_6 {
  align-items: center;
  display: grid;
  gap: 10px;
}

.art-1,
.art-3 {
  justify-self: center;
}

.art-1 {
  grid-area: 1 / 1 / 2 / 4;
}

.art-2 {
  grid-area: 1 / 5 / 2 / 6;
}

.art-3 {
  grid-area: 2 / 1 / 3 / 3;
}

.art-4 {
  grid-area: 2 / 3 / 3 / 4;
}

.art-5 {
  grid-area: 2 / 6 / 3 / 7;
}

.art-6 {
  grid-area: 3 / 2 / 4 / 3;
}

.art-7 {
  grid-area: 3 / 5 / 4 / 6;
}

.art-8 {
  grid-area: 4 / 1 / 5 / 2;
}

.art-9 {
  grid-area: 4 / 3 / 5 / 4;
}

.art-10 {
  grid-area: 4 / 6 / 5 / 7;
}

.item-line {
  grid-area: 1 / 4 / 5 / 5;
}

.item-line {
  border: 1px solid rgb(68, 66, 66);
  width: 0px;
  height: 800px;
}

nav {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 100px);
  justify-content: center;
  align-items: end;
  gap: 15px;

}

.btn-3d {
  text-align: center;
  width: 100px;
  height: 25px;
  text-decoration: none;
  background-color: #9aa8aad5;
  color: rgb(34, 54, 54);
  border-radius: 5px;
  box-shadow: 0 5px 0 #033a352f;
  transition: 0.1s;
}

.btn-3d:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #01012091;
}